[submodule "packages/gcp/specs/distilled-spec-gcp"]
	path = packages/gcp/specs/distilled-spec-gcp
	url = https://github.com/alchemy-run/distilled-spec-gcp.git
[submodule "packages/cloudflare/specs/cloudflare-typescript"]
	path = packages/cloudflare/specs/cloudflare-typescript
	url = https://github.com/cloudflare/cloudflare-typescript.git
[submodule "packages/planetscale/specs/distilled-spec-planetscale"]
	path = packages/planetscale/specs/distilled-spec-planetscale
	url = https://github.com/alchemy-run/distilled-spec-planetscale.git
[submodule "packages/neon/specs/distilled-spec-neon"]
	path = packages/neon/specs/distilled-spec-neon
	url = https://github.com/alchemy-run/distilled-spec-neon.git
[submodule "packages/aws/specs/api-models-aws"]
	path = packages/aws/specs/api-models-aws
	url = https://github.com/aws/api-models-aws.git
[submodule "packages/aws/specs/aws-sdk-js-v3"]
	path = packages/aws/specs/aws-sdk-js-v3
	url = https://github.com/aws/aws-sdk-js-v3.git
[submodule "packages/aws/specs/smithy"]
	path = packages/aws/specs/smithy
	url = https://github.com/smithy-lang/smithy.git
[submodule "packages/aws/specs/smithy-typescript"]
	path = packages/aws/specs/smithy-typescript
	url = https://github.com/smithy-lang/smithy-typescript.git
[submodule "packages/prisma-postgres/specs/distilled-spec-prisma-postgres"]
	path = packages/prisma-postgres/specs/distilled-spec-prisma-postgres
	url = https://github.com/alchemy-run/distilled-spec-prisma-postgres.git
