openapi: 3.1.0
info:
  title: Cloudflare CSAM-SCANNER API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: csam-scanner
paths:
  /zones/{zone_id}/settings/csam_scanner_third_party:
    get:
      operationId: getCsamScanner
      description:
        "Retrieve the current CSAM Scanner configuration for a zone.  The
        notification email is masked by default in responses.  @example ```ts
        const csamScanner = await client.csamScanner.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier for the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - csam_scanner
                    description: The feature identifier.
                  editable:
                    type: boolean
                    description:
                      Whether the feature state can be changed. When false, the zone or
                      account may be locked by Trust & Safety.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description:
                      When the setting was last modified. Currently always null as the
                      server does not populate this field.
                  value:
                    type: object
                    properties:
                      email:
                        type: string
                        description:
                          Notification email address for CSAM scan results. Masked in
                          responses unless explicitly unmasked via admin
                          endpoint.
                      email_state:
                        type: string
                        enum:
                          - valid
                          - pending
                          - unverified
                        description: Current verification state of the notification email.
                      enabled:
                        type: boolean
                        description: Whether CSAM scanning is enabled for this zone.
                      sources:
                        type: object
                        additionalProperties: true
                        description: Map of scanning sources and their enabled state.
                      zone_plan:
                        type: string
                        description: The zone's plan level.
                    description:
                      The CSAM Scanner feature configuration values. Contains the
                      notification email and scanning enablement settings.
      x-distilled-response-path: result
    patch:
      operationId: patchCsamScanner
      description:
        "Update the CSAM Scanner configuration for a zone. Allows enabling
        or disabling CSAM scanning, updating the notification email, and
        configuring scanning sources.  When a new email is provided, email
        verification is triggered automatically. The `enabled` field is a
        toggle; the server may adjust it based on whether the notification email
        is verified.  Returns 403 if the zone or account is locked by Trust &
        Safety.  @example ```ts const response = await client.csamScanner.edit({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier for the zone."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  enum:
                    - csam_scanner
                  description: "Body param: The feature identifier."
                value:
                  type: object
                  properties:
                    email:
                      type: string
                      description:
                        Notification email address for CSAM scan results. When changed,
                        email verification is triggered automatically.
                    enabled:
                      type: boolean
                      description: Whether CSAM scanning is enabled for this zone.
                    resend_email:
                      type: boolean
                      description:
                        Set to true to trigger re-sending the email verification.
                        Write-only; never appears in responses (omitted when
                        false).
                    sources:
                      type: object
                      additionalProperties: true
                      description: Map of scanning sources and their enabled state.
                  description: "Body param: Writable CSAM Scanner feature configuration values."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - csam_scanner
                    description: The feature identifier.
                  editable:
                    type: boolean
                    description:
                      Whether the feature state can be changed. When false, the zone or
                      account may be locked by Trust & Safety.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description:
                      When the setting was last modified. Currently always null as the
                      server does not populate this field.
                  value:
                    type: object
                    properties:
                      email:
                        type: string
                        description:
                          Notification email address for CSAM scan results. Masked in
                          responses unless explicitly unmasked via admin
                          endpoint.
                      email_state:
                        type: string
                        enum:
                          - valid
                          - pending
                          - unverified
                        description: Current verification state of the notification email.
                      enabled:
                        type: boolean
                        description: Whether CSAM scanning is enabled for this zone.
                      sources:
                        type: object
                        additionalProperties: true
                        description: Map of scanning sources and their enabled state.
                      zone_plan:
                        type: string
                        description: The zone's plan level.
                    description:
                      The CSAM Scanner feature configuration values. Contains the
                      notification email and scanning enablement settings.
      x-distilled-response-path: result
