openapi: 3.1.0
info:
  title: Cloudflare CUSTOM-CSRS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: custom-csrs
paths:
  /{accountOrZone}/{accountOrZoneId}/custom_csrs/{customCsrId}:
    get:
      operationId: getCustomCsr
      parameters:
        - name: customCsrId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description:
                    The Account ID to use for this endpoint. Mutually exclusive with
                    the Zone ID.
                zone_id:
                  type: string
                  description:
                    The Zone ID to use for this endpoint. Mutually exclusive with the
                    Account ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Custom CSR identifier tag.
                  created_at:
                    type: string
                    description: When the CSR was created.
                  key_type:
                    type: string
                    enum:
                      - rsa2048
                      - p256v1
                    description: The key algorithm used to generate the CSR.
                  account_tag:
                    type: string
                    description: Account identifier associated with this CSR.
                  common_name:
                    type: string
                    description: The common name (domain) for the CSR.
                  country:
                    type: string
                    description: Two-letter ISO 3166-1 alpha-2 country code.
                  csr:
                    type: string
                    description: The PEM-encoded Certificate Signing Request.
                  description:
                    type: string
                    description: Optional description for the CSR.
                  locality:
                    type: string
                    description: City or locality name.
                  name:
                    type: string
                    description: Human-readable name for the CSR.
                  organization:
                    type: string
                    description: Organization name.
                  organizational_unit:
                    type: string
                    description: Organizational unit name.
                  sans:
                    type: array
                    items:
                      type: string
                    description: Subject Alternative Names included in the CSR.
                  state:
                    type: string
                    description: State or province name.
                required:
                  - id
                  - created_at
                  - key_type
      x-distilled-response-path: result
    delete:
      operationId: deleteCustomCsr
      parameters:
        - name: customCsrId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description:
                    The Account ID to use for this endpoint. Mutually exclusive with
                    the Zone ID.
                zone_id:
                  type: string
                  description:
                    The Zone ID to use for this endpoint. Mutually exclusive with the
                    Account ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Custom CSR identifier tag.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/custom_csrs:
    get:
      operationId: listCustomCsrs
      parameters:
        - name: account_id
          in: path
          required: true
          description:
            "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description:
            "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Custom CSR identifier tag.
                  created_at:
                    type: string
                    description: When the CSR was created.
                  key_type:
                    type: string
                    enum:
                      - rsa2048
                      - p256v1
                    description: The key algorithm used to generate the CSR.
                  account_tag:
                    type: string
                    description: Account identifier associated with this CSR.
                  common_name:
                    type: string
                    description: The common name (domain) for the CSR.
                  country:
                    type: string
                    description: Two-letter ISO 3166-1 alpha-2 country code.
                  csr:
                    type: string
                    description: The PEM-encoded Certificate Signing Request.
                  description:
                    type: string
                    description: Optional description for the CSR.
                  locality:
                    type: string
                    description: City or locality name.
                  name:
                    type: string
                    description: Human-readable name for the CSR.
                  organization:
                    type: string
                    description: Organization name.
                  organizational_unit:
                    type: string
                    description: Organizational unit name.
                  sans:
                    type: array
                    items:
                      type: string
                    description: Subject Alternative Names included in the CSR.
                  state:
                    type: string
                    description: State or province name.
                required:
                  - id
                  - created_at
                  - key_type
      x-distilled-pagination-class: CustomCsrListResponsesV4PagePaginationArray
    post:
      operationId: createCustomCsr
      description:
        "Generate a new custom Certificate Signing Request (CSR) for an
        account or zone. Cloudflare generates and securely stores the private
        key associated with the CSR.  @example ```ts const customCsr = await
        client.customCsrs.create({ common_name: 'example.com', country: 'US',
        locality: 'San Francisco', organization: 'Cloudflare, Inc.', sans:
        ['example.com', 'www.example.com'], state: 'California', account_id:
        'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description:
            "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description:
            "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                common_name:
                  type: string
                  description:
                    "Body param: The common name (domain) for the CSR. Must be at most
                    64 characters."
                country:
                  type: string
                  description: "Body param: Two-letter ISO 3166-1 alpha-2 country code."
                locality:
                  type: string
                  description: "Body param: City or locality name."
                organization:
                  type: string
                  description: "Body param: Organization name."
                sans:
                  type: array
                  items:
                    type: string
                  description:
                    "Body param: Subject Alternative Names for the CSR. At least one
                    SAN is required."
                state:
                  type: string
                  description: "Body param: State or province name."
                description:
                  type: string
                  description: "Body param: Optional description for the CSR."
                key_type:
                  type: string
                  enum:
                    - rsa2048
                    - p256v1
                  description:
                    "Body param: Key algorithm to use for the CSR. Defaults to rsa2048
                    if not specified."
                name:
                  type: string
                  description: "Body param: Human-readable name for the CSR."
                organizational_unit:
                  type: string
                  description: "Body param: Organizational unit name."
              required:
                - common_name
                - country
                - locality
                - organization
                - sans
                - state
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Custom CSR identifier tag.
                  created_at:
                    type: string
                    description: When the CSR was created.
                  key_type:
                    type: string
                    enum:
                      - rsa2048
                      - p256v1
                    description: The key algorithm used to generate the CSR.
                  account_tag:
                    type: string
                    description: Account identifier associated with this CSR.
                  common_name:
                    type: string
                    description: The common name (domain) for the CSR.
                  country:
                    type: string
                    description: Two-letter ISO 3166-1 alpha-2 country code.
                  csr:
                    type: string
                    description: The PEM-encoded Certificate Signing Request.
                  description:
                    type: string
                    description: Optional description for the CSR.
                  locality:
                    type: string
                    description: City or locality name.
                  name:
                    type: string
                    description: Human-readable name for the CSR.
                  organization:
                    type: string
                    description: Organization name.
                  organizational_unit:
                    type: string
                    description: Organizational unit name.
                  sans:
                    type: array
                    items:
                      type: string
                    description: Subject Alternative Names included in the CSR.
                  state:
                    type: string
                    description: State or province name.
                required:
                  - id
                  - created_at
                  - key_type
      x-distilled-response-path: result
