openapi: 3.1.0
info:
  title: Cloudflare FLAGSHIP API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: flagship
paths:
  /accounts/{account_id}/flagship/apps/{appId}:
    get:
      operationId: getApp
      description:
        Returns an app's name and audit fields. Flag definitions are not
        included.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  name:
                    type: string
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                    description:
                      Email of the actor who last modified the app, or `edge-gateway` for
                      gateway-authenticated changes.
                required:
                  - id
                  - created_at
                  - name
                  - updated_at
                  - updated_by
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
    put:
      operationId: updateApp
      description: Updates an app. Only `name` is mutable.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  name:
                    type: string
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                    description:
                      Email of the actor who last modified the app, or `edge-gateway` for
                      gateway-authenticated changes.
                required:
                  - id
                  - created_at
                  - name
                  - updated_at
                  - updated_by
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
    delete:
      operationId: deleteApp
      description:
        Deletes an app and all its flags and changelog history. Returns 409
        if any Worker still references this app via a Flagship binding.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
  /accounts/{account_id}/flagship/apps:
    get:
      operationId: listApps
      description:
        Lists all apps in the account. Returns identity and audit fields
        only — flag definitions are not included.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  name:
                    type: string
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                    description:
                      Email of the actor who last modified the app, or `edge-gateway` for
                      gateway-authenticated changes.
                required:
                  - id
                  - created_at
                  - name
                  - updated_at
                  - updated_by
      x-distilled-pagination-class: AppListResponsesSinglePage
    post:
      operationId: createApp
      description:
        Creates an app. The returned `id` is used in all subsequent flag,
        changelog, and evaluation requests.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Body param
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  name:
                    type: string
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                    description:
                      Email of the actor who last modified the app, or `edge-gateway` for
                      gateway-authenticated changes.
                required:
                  - id
                  - created_at
                  - name
                  - updated_at
                  - updated_by
      x-distilled-response-path: result
  /accounts/{account_id}/flagship/apps/{appId}/evaluate:
    get:
      operationId: getAppEvaluate
      description: Evaluates a flag against the provided context. Pass context
        attributes as query parameters; boolean and numeric strings are coerced
        automatically. For low-latency in-Worker evaluation, prefer the Flagship
        binding over this endpoint.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
        - name: flagKey
          in: query
          required: true
          description: "Query param: The flag key to evaluate."
          schema:
            type: string
        - name: targetingKey
          in: query
          required: false
          description:
            "Query param: Context targeting key (per OpenFeature spec); used
            for percentage rollout bucketing."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  flagKey:
                    type: string
                  reason:
                    type: string
                    enum:
                      - TARGETING_MATCH
                      - DEFAULT
                      - DISABLED
                      - SPLIT
                  variant:
                    type: string
                  value:
                    oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                      - type: object
                        additionalProperties: true
                      - type: array
                        items: {}
                    nullable: true
                required:
                  - flagKey
                  - reason
                  - variant
  /accounts/{account_id}/flagship/apps/{appId}/flags/{flagKey}:
    get:
      operationId: getAppFlag
      description:
        Returns the full flag definition including rules, variations, and
        audit fields.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: flagKey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_variation:
                    type: string
                    description:
                      Variation served when no rule matches or the flag is disabled. Must
                      be a key in `variations`.
                  enabled:
                    type: boolean
                    description:
                      When false, the flag bypasses all rules and always serves
                      `default_variation`.
                  key:
                    type: string
                    description:
                      Unique identifier for the flag within an app. Used in all
                      evaluation and SDK calls.
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        conditions:
                          type: array
                          items:
                            oneOf:
                              - type: object
                                properties:
                                  attribute:
                                    type: string
                                  operator:
                                    type: string
                                    enum:
                                      - equals
                                      - not_equals
                                      - greater_than
                                      - less_than
                                      - greater_than_or_equals
                                      - less_than_or_equals
                                      - contains
                                      - starts_with
                                      - ends_with
                                      - in
                                      - not_in
                                  value:
                                    description:
                                      Value to compare against the context attribute. Must be an array
                                      for `in` and `not_in`; numeric and
                                      ISO-8601 datetime strings are accepted by
                                      the ordering operators.
                                required:
                                  - attribute
                                  - operator
                                  - value
                              - type: object
                                properties:
                                  clauses:
                                    type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            attribute:
                                              type: string
                                            operator:
                                              type: string
                                              enum:
                                                - equals
                                                - not_equals
                                                - greater_than
                                                - less_than
                                                - greater_than_or_equals
                                                - less_than_or_equals
                                                - contains
                                                - starts_with
                                                - ends_with
                                                - in
                                                - not_in
                                            value:
                                              description:
                                                Value to compare against the context attribute. Must be an array
                                                for `in` and `not_in`; numeric
                                                and ISO-8601 datetime strings
                                                are accepted by the ordering
                                                operators.
                                          required:
                                            - attribute
                                            - operator
                                            - value
                                        - type: object
                                          properties:
                                            clauses:
                                              type: array
                                              items:
                                                oneOf:
                                                  - type: object
                                                    properties:
                                                      attribute:
                                                        type: string
                                                      operator:
                                                        type: string
                                                        enum:
                                                          - equals
                                                          - not_equals
                                                          - greater_than
                                                          - less_than
                                                          - greater_than_or_equals
                                                          - less_than_or_equals
                                                          - contains
                                                          - starts_with
                                                          - ends_with
                                                          - in
                                                          - not_in
                                                      value:
                                                        description:
                                                          Value to compare against the context attribute. Must be an array
                                                          for `in` and `not_in`;
                                                          numeric and ISO-8601
                                                          datetime strings are
                                                          accepted by the
                                                          ordering operators.
                                                    required:
                                                      - attribute
                                                      - operator
                                                      - value
                                                  - type: object
                                                    properties:
                                                      clauses:
                                                        type: array
                                                        items:
                                                          oneOf:
                                                            - type: object
                                                              properties:
                                                                attribute:
                                                                  type: string
                                                                operator:
                                                                  type: string
                                                                  enum:
                                                                    - equals
                                                                    - not_equals
                                                                    - greater_than
                                                                    - less_than
                                                                    - greater_than_or_equals
                                                                    - less_than_or_equals
                                                                    - contains
                                                                    - starts_with
                                                                    - ends_with
                                                                    - in
                                                                    - not_in
                                                                value:
                                                                  description:
                                                                    Value to compare against the context attribute. Must be an array
                                                                    for `in` and
                                                                    `not_in`; numeric
                                                                    and ISO-8601
                                                                    datetime strings are
                                                                    accepted by the
                                                                    ordering operators.
                                                              required:
                                                                - attribute
                                                                - operator
                                                                - value
                                                            - type: object
                                                              properties:
                                                                clauses:
                                                                  type: array
                                                                  items:
                                                                    oneOf:
                                                                      - type: object
                                                                        properties:
                                                                          attribute:
                                                                            type: string
                                                                          operator:
                                                                            type: string
                                                                            enum:
                                                                              - equals
                                                                              - not_equals
                                                                              - greater_than
                                                                              - less_than
                                                                              - greater_than_or_equals
                                                                              - less_than_or_equals
                                                                              - contains
                                                                              - starts_with
                                                                              - ends_with
                                                                              - in
                                                                              - not_in
                                                                          value:
                                                                            description:
                                                                              Value to compare against the context attribute. Must be an array
                                                                              for `in` and
                                                                              `not_in`; numeric
                                                                              and ISO-8601
                                                                              datetime strings are
                                                                              accepted by the
                                                                              ordering operators.
                                                                        required:
                                                                          - attribute
                                                                          - operator
                                                                          - value
                                                                      - type: object
                                                                        properties:
                                                                          clauses:
                                                                            type: array
                                                                            items:
                                                                              oneOf:
                                                                                - type: object
                                                                                  properties:
                                                                                    attribute:
                                                                                      type: string
                                                                                    operator:
                                                                                      type: string
                                                                                      enum:
                                                                                        - equals
                                                                                        - not_equals
                                                                                        - greater_than
                                                                                        - less_than
                                                                                        - greater_than_or_equals
                                                                                        - less_than_or_equals
                                                                                        - contains
                                                                                        - starts_with
                                                                                        - ends_with
                                                                                        - in
                                                                                        - not_in
                                                                                    value:
                                                                                      description:
                                                                                        Value to compare against the context attribute. Must be an array
                                                                                        for `in` and
                                                                                        `not_in`; numeric
                                                                                        and ISO-8601
                                                                                        datetime strings are
                                                                                        accepted by the
                                                                                        ordering operators.
                                                                                  required:
                                                                                    - attribute
                                                                                    - operator
                                                                                    - value
                                                                                - type: object
                                                                                  properties:
                                                                                    clauses:
                                                                                      type: array
                                                                                      items:
                                                                                        oneOf:
                                                                                          - type: string
                                                                                          - type: number
                                                                                          - type: boolean
                                                                                          - type: object
                                                                                            additionalProperties: true
                                                                                          - type: array
                                                                                            items:
                                                                                              {
                                                                                                ,
                                                                                              }
                                                                                        nullable: true
                                                                                    logical_operator:
                                                                                      type: string
                                                                                      enum:
                                                                                        - AND
                                                                                        - OR
                                                                                  required:
                                                                                    - clauses
                                                                                    - logical_operator
                                                                          logical_operator:
                                                                            type: string
                                                                            enum:
                                                                              - AND
                                                                              - OR
                                                                        required:
                                                                          - clauses
                                                                          - logical_operator
                                                                logical_operator:
                                                                  type: string
                                                                  enum:
                                                                    - AND
                                                                    - OR
                                                              required:
                                                                - clauses
                                                                - logical_operator
                                                      logical_operator:
                                                        type: string
                                                        enum:
                                                          - AND
                                                          - OR
                                                    required:
                                                      - clauses
                                                      - logical_operator
                                            logical_operator:
                                              type: string
                                              enum:
                                                - AND
                                                - OR
                                          required:
                                            - clauses
                                            - logical_operator
                                  logical_operator:
                                    type: string
                                    enum:
                                      - AND
                                      - OR
                                required:
                                  - clauses
                                  - logical_operator
                          description:
                            Conditions the context must satisfy for this rule to match. An
                            empty array matches all contexts.
                        priority:
                          type: number
                          description:
                            Evaluation order; lower numbers are evaluated first. Must be unique
                            across the flag's rules.
                        serve_variation:
                          type: string
                          description:
                            Variation served when this rule matches. Must be a key in
                            `variations`.
                        rollout:
                          type: object
                          properties:
                            percentage:
                              type: number
                              description:
                                Percentage of matching traffic (0–100) served this variation. For
                                multi-way splits, use cumulative upper bounds
                                across rules (e.g. 30, 70, 100).
                            attribute:
                              type: string
                              description:
                                Context attribute used for sticky bucketing. Defaults to
                                `targetingKey`. If absent at evaluation time,
                                bucketing is random per request.
                          required:
                            - percentage
                      required:
                        - conditions
                        - priority
                        - serve_variation
                    description:
                      Targeting rules evaluated in ascending `priority`; the first
                      matching rule wins. An empty array means the flag always
                      serves `default_variation`.
                  variations:
                    type: object
                    additionalProperties: true
                    description:
                      Map of variation name to value. All values must be the same type
                      (boolean, string, number, or JSON object/array). Each
                      serialized value must be 10KB or smaller.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  type:
                    type: string
                    enum:
                      - boolean
                      - string
                      - number
                      - json
                    description:
                      Value type of the flag's variations. Inferred from the variation
                      values on write, so it may be omitted in requests.
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                required:
                  - default_variation
                  - enabled
                  - key
                  - rules
                  - variations
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipFlagNotFound:
          - status: 404
            message:
              includes: Flag not found
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
    put:
      operationId: updateAppFlag
      description:
        Replaces the entire flag definition. Omitted fields are dropped,
        not preserved — read before writing. Each update appends a changelog
        entry.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: flagKey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_variation:
                  type: string
                  description:
                    "Body param: Variation served when no rule matches or the flag is
                    disabled. Must be a key in `variations`."
                enabled:
                  type: boolean
                  description:
                    "Body param: When false, the flag bypasses all rules and always
                    serves `default_variation`."
                key:
                  type: string
                  description:
                    "Body param: Unique identifier for the flag within an app. Used in
                    all evaluation and SDK calls."
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      conditions:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                attribute:
                                  type: string
                                operator:
                                  type: string
                                  enum:
                                    - equals
                                    - not_equals
                                    - greater_than
                                    - less_than
                                    - greater_than_or_equals
                                    - less_than_or_equals
                                    - contains
                                    - starts_with
                                    - ends_with
                                    - in
                                    - not_in
                                value:
                                  description:
                                    Value to compare against the context attribute. Must be an array
                                    for `in` and `not_in`; numeric and ISO-8601
                                    datetime strings are accepted by the
                                    ordering operators.
                              required:
                                - attribute
                                - operator
                                - value
                            - type: object
                              properties:
                                clauses:
                                  type: array
                                  items:
                                    oneOf:
                                      - type: object
                                        properties:
                                          attribute:
                                            type: string
                                          operator:
                                            type: string
                                            enum:
                                              - equals
                                              - not_equals
                                              - greater_than
                                              - less_than
                                              - greater_than_or_equals
                                              - less_than_or_equals
                                              - contains
                                              - starts_with
                                              - ends_with
                                              - in
                                              - not_in
                                          value:
                                            description:
                                              Value to compare against the context attribute. Must be an array
                                              for `in` and `not_in`; numeric and
                                              ISO-8601 datetime strings are
                                              accepted by the ordering
                                              operators.
                                        required:
                                          - attribute
                                          - operator
                                          - value
                                      - type: object
                                        properties:
                                          clauses:
                                            type: array
                                            items:
                                              oneOf:
                                                - type: object
                                                  properties:
                                                    attribute:
                                                      type: string
                                                    operator:
                                                      type: string
                                                      enum:
                                                        - equals
                                                        - not_equals
                                                        - greater_than
                                                        - less_than
                                                        - greater_than_or_equals
                                                        - less_than_or_equals
                                                        - contains
                                                        - starts_with
                                                        - ends_with
                                                        - in
                                                        - not_in
                                                    value:
                                                      description:
                                                        Value to compare against the context attribute. Must be an array
                                                        for `in` and `not_in`;
                                                        numeric and ISO-8601
                                                        datetime strings are
                                                        accepted by the ordering
                                                        operators.
                                                  required:
                                                    - attribute
                                                    - operator
                                                    - value
                                                - type: object
                                                  properties:
                                                    clauses:
                                                      type: array
                                                      items:
                                                        oneOf:
                                                          - type: object
                                                            properties:
                                                              attribute:
                                                                type: string
                                                              operator:
                                                                type: string
                                                                enum:
                                                                  - equals
                                                                  - not_equals
                                                                  - greater_than
                                                                  - less_than
                                                                  - greater_than_or_equals
                                                                  - less_than_or_equals
                                                                  - contains
                                                                  - starts_with
                                                                  - ends_with
                                                                  - in
                                                                  - not_in
                                                              value:
                                                                description:
                                                                  Value to compare against the context attribute. Must be an array
                                                                  for `in` and
                                                                  `not_in`; numeric
                                                                  and ISO-8601
                                                                  datetime strings are
                                                                  accepted by the
                                                                  ordering operators.
                                                            required:
                                                              - attribute
                                                              - operator
                                                              - value
                                                          - type: object
                                                            properties:
                                                              clauses:
                                                                type: array
                                                                items:
                                                                  oneOf:
                                                                    - type: object
                                                                      properties:
                                                                        attribute:
                                                                          type: string
                                                                        operator:
                                                                          type: string
                                                                          enum:
                                                                            - equals
                                                                            - not_equals
                                                                            - greater_than
                                                                            - less_than
                                                                            - greater_than_or_equals
                                                                            - less_than_or_equals
                                                                            - contains
                                                                            - starts_with
                                                                            - ends_with
                                                                            - in
                                                                            - not_in
                                                                        value:
                                                                          description:
                                                                            Value to compare against the context attribute. Must be an array
                                                                            for `in` and
                                                                            `not_in`; numeric
                                                                            and ISO-8601
                                                                            datetime strings are
                                                                            accepted by the
                                                                            ordering operators.
                                                                      required:
                                                                        - attribute
                                                                        - operator
                                                                        - value
                                                                    - type: object
                                                                      properties:
                                                                        clauses:
                                                                          type: array
                                                                          items:
                                                                            oneOf:
                                                                              - type: object
                                                                                properties:
                                                                                  attribute:
                                                                                    type: string
                                                                                  operator:
                                                                                    type: string
                                                                                    enum:
                                                                                      - equals
                                                                                      - not_equals
                                                                                      - greater_than
                                                                                      - less_than
                                                                                      - greater_than_or_equals
                                                                                      - less_than_or_equals
                                                                                      - contains
                                                                                      - starts_with
                                                                                      - ends_with
                                                                                      - in
                                                                                      - not_in
                                                                                  value:
                                                                                    description:
                                                                                      Value to compare against the context attribute. Must be an array
                                                                                      for `in` and
                                                                                      `not_in`; numeric
                                                                                      and ISO-8601
                                                                                      datetime strings are
                                                                                      accepted by the
                                                                                      ordering operators.
                                                                                required:
                                                                                  - attribute
                                                                                  - operator
                                                                                  - value
                                                                              - type: object
                                                                                properties:
                                                                                  clauses:
                                                                                    type: array
                                                                                    items:
                                                                                      oneOf:
                                                                                        - type: string
                                                                                        - type: number
                                                                                        - type: boolean
                                                                                        - type: object
                                                                                          additionalProperties: true
                                                                                        - type: array
                                                                                          items:
                                                                                            {
                                                                                              ,
                                                                                            }
                                                                                      nullable: true
                                                                                  logical_operator:
                                                                                    type: string
                                                                                    enum:
                                                                                      - AND
                                                                                      - OR
                                                                                required:
                                                                                  - clauses
                                                                                  - logical_operator
                                                                        logical_operator:
                                                                          type: string
                                                                          enum:
                                                                            - AND
                                                                            - OR
                                                                      required:
                                                                        - clauses
                                                                        - logical_operator
                                                              logical_operator:
                                                                type: string
                                                                enum:
                                                                  - AND
                                                                  - OR
                                                            required:
                                                              - clauses
                                                              - logical_operator
                                                    logical_operator:
                                                      type: string
                                                      enum:
                                                        - AND
                                                        - OR
                                                  required:
                                                    - clauses
                                                    - logical_operator
                                          logical_operator:
                                            type: string
                                            enum:
                                              - AND
                                              - OR
                                        required:
                                          - clauses
                                          - logical_operator
                                logical_operator:
                                  type: string
                                  enum:
                                    - AND
                                    - OR
                              required:
                                - clauses
                                - logical_operator
                        description:
                          Conditions the context must satisfy for this rule to match. An
                          empty array matches all contexts.
                      priority:
                        type: number
                        description:
                          Evaluation order; lower numbers are evaluated first. Must be unique
                          across the flag's rules.
                      serve_variation:
                        type: string
                        description:
                          Variation served when this rule matches. Must be a key in
                          `variations`.
                      rollout:
                        type: object
                        properties:
                          percentage:
                            type: number
                            description:
                              Percentage of matching traffic (0–100) served this variation. For
                              multi-way splits, use cumulative upper bounds
                              across rules (e.g. 30, 70, 100).
                          attribute:
                            type: string
                            description:
                              Context attribute used for sticky bucketing. Defaults to
                              `targetingKey`. If absent at evaluation time,
                              bucketing is random per request.
                        required:
                          - percentage
                    required:
                      - conditions
                      - priority
                      - serve_variation
                  description:
                    "Body param: Targeting rules evaluated in ascending `priority`; the
                    first matching rule wins. An empty array means the flag
                    always serves `default_variation`."
                variations:
                  type: object
                  additionalProperties: true
                  description:
                    "Body param: Map of variation name to value. All values must be the
                    same type (boolean, string, number, or JSON object/array).
                    Each serialized value must be 10KB or smaller."
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                type:
                  type: string
                  enum:
                    - boolean
                    - string
                    - number
                    - json
                  description:
                    "Body param: Value type of the flag's variations. Inferred from the
                    variation values on write, so it may be omitted in
                    requests."
              required:
                - default_variation
                - enabled
                - key
                - rules
                - variations
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_variation:
                    type: string
                    description:
                      Variation served when no rule matches or the flag is disabled. Must
                      be a key in `variations`.
                  enabled:
                    type: boolean
                    description:
                      When false, the flag bypasses all rules and always serves
                      `default_variation`.
                  key:
                    type: string
                    description:
                      Unique identifier for the flag within an app. Used in all
                      evaluation and SDK calls.
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        conditions:
                          type: array
                          items:
                            oneOf:
                              - type: object
                                properties:
                                  attribute:
                                    type: string
                                  operator:
                                    type: string
                                    enum:
                                      - equals
                                      - not_equals
                                      - greater_than
                                      - less_than
                                      - greater_than_or_equals
                                      - less_than_or_equals
                                      - contains
                                      - starts_with
                                      - ends_with
                                      - in
                                      - not_in
                                  value:
                                    description:
                                      Value to compare against the context attribute. Must be an array
                                      for `in` and `not_in`; numeric and
                                      ISO-8601 datetime strings are accepted by
                                      the ordering operators.
                                required:
                                  - attribute
                                  - operator
                                  - value
                              - type: object
                                properties:
                                  clauses:
                                    type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            attribute:
                                              type: string
                                            operator:
                                              type: string
                                              enum:
                                                - equals
                                                - not_equals
                                                - greater_than
                                                - less_than
                                                - greater_than_or_equals
                                                - less_than_or_equals
                                                - contains
                                                - starts_with
                                                - ends_with
                                                - in
                                                - not_in
                                            value:
                                              description:
                                                Value to compare against the context attribute. Must be an array
                                                for `in` and `not_in`; numeric
                                                and ISO-8601 datetime strings
                                                are accepted by the ordering
                                                operators.
                                          required:
                                            - attribute
                                            - operator
                                            - value
                                        - type: object
                                          properties:
                                            clauses:
                                              type: array
                                              items:
                                                oneOf:
                                                  - type: object
                                                    properties:
                                                      attribute:
                                                        type: string
                                                      operator:
                                                        type: string
                                                        enum:
                                                          - equals
                                                          - not_equals
                                                          - greater_than
                                                          - less_than
                                                          - greater_than_or_equals
                                                          - less_than_or_equals
                                                          - contains
                                                          - starts_with
                                                          - ends_with
                                                          - in
                                                          - not_in
                                                      value:
                                                        description:
                                                          Value to compare against the context attribute. Must be an array
                                                          for `in` and `not_in`;
                                                          numeric and ISO-8601
                                                          datetime strings are
                                                          accepted by the
                                                          ordering operators.
                                                    required:
                                                      - attribute
                                                      - operator
                                                      - value
                                                  - type: object
                                                    properties:
                                                      clauses:
                                                        type: array
                                                        items:
                                                          oneOf:
                                                            - type: object
                                                              properties:
                                                                attribute:
                                                                  type: string
                                                                operator:
                                                                  type: string
                                                                  enum:
                                                                    - equals
                                                                    - not_equals
                                                                    - greater_than
                                                                    - less_than
                                                                    - greater_than_or_equals
                                                                    - less_than_or_equals
                                                                    - contains
                                                                    - starts_with
                                                                    - ends_with
                                                                    - in
                                                                    - not_in
                                                                value:
                                                                  description:
                                                                    Value to compare against the context attribute. Must be an array
                                                                    for `in` and
                                                                    `not_in`; numeric
                                                                    and ISO-8601
                                                                    datetime strings are
                                                                    accepted by the
                                                                    ordering operators.
                                                              required:
                                                                - attribute
                                                                - operator
                                                                - value
                                                            - type: object
                                                              properties:
                                                                clauses:
                                                                  type: array
                                                                  items:
                                                                    oneOf:
                                                                      - type: object
                                                                        properties:
                                                                          attribute:
                                                                            type: string
                                                                          operator:
                                                                            type: string
                                                                            enum:
                                                                              - equals
                                                                              - not_equals
                                                                              - greater_than
                                                                              - less_than
                                                                              - greater_than_or_equals
                                                                              - less_than_or_equals
                                                                              - contains
                                                                              - starts_with
                                                                              - ends_with
                                                                              - in
                                                                              - not_in
                                                                          value:
                                                                            description:
                                                                              Value to compare against the context attribute. Must be an array
                                                                              for `in` and
                                                                              `not_in`; numeric
                                                                              and ISO-8601
                                                                              datetime strings are
                                                                              accepted by the
                                                                              ordering operators.
                                                                        required:
                                                                          - attribute
                                                                          - operator
                                                                          - value
                                                                      - type: object
                                                                        properties:
                                                                          clauses:
                                                                            type: array
                                                                            items:
                                                                              oneOf:
                                                                                - type: object
                                                                                  properties:
                                                                                    attribute:
                                                                                      type: string
                                                                                    operator:
                                                                                      type: string
                                                                                      enum:
                                                                                        - equals
                                                                                        - not_equals
                                                                                        - greater_than
                                                                                        - less_than
                                                                                        - greater_than_or_equals
                                                                                        - less_than_or_equals
                                                                                        - contains
                                                                                        - starts_with
                                                                                        - ends_with
                                                                                        - in
                                                                                        - not_in
                                                                                    value:
                                                                                      description:
                                                                                        Value to compare against the context attribute. Must be an array
                                                                                        for `in` and
                                                                                        `not_in`; numeric
                                                                                        and ISO-8601
                                                                                        datetime strings are
                                                                                        accepted by the
                                                                                        ordering operators.
                                                                                  required:
                                                                                    - attribute
                                                                                    - operator
                                                                                    - value
                                                                                - type: object
                                                                                  properties:
                                                                                    clauses:
                                                                                      type: array
                                                                                      items:
                                                                                        oneOf:
                                                                                          - type: string
                                                                                          - type: number
                                                                                          - type: boolean
                                                                                          - type: object
                                                                                            additionalProperties: true
                                                                                          - type: array
                                                                                            items:
                                                                                              {
                                                                                                ,
                                                                                              }
                                                                                        nullable: true
                                                                                    logical_operator:
                                                                                      type: string
                                                                                      enum:
                                                                                        - AND
                                                                                        - OR
                                                                                  required:
                                                                                    - clauses
                                                                                    - logical_operator
                                                                          logical_operator:
                                                                            type: string
                                                                            enum:
                                                                              - AND
                                                                              - OR
                                                                        required:
                                                                          - clauses
                                                                          - logical_operator
                                                                logical_operator:
                                                                  type: string
                                                                  enum:
                                                                    - AND
                                                                    - OR
                                                              required:
                                                                - clauses
                                                                - logical_operator
                                                      logical_operator:
                                                        type: string
                                                        enum:
                                                          - AND
                                                          - OR
                                                    required:
                                                      - clauses
                                                      - logical_operator
                                            logical_operator:
                                              type: string
                                              enum:
                                                - AND
                                                - OR
                                          required:
                                            - clauses
                                            - logical_operator
                                  logical_operator:
                                    type: string
                                    enum:
                                      - AND
                                      - OR
                                required:
                                  - clauses
                                  - logical_operator
                          description:
                            Conditions the context must satisfy for this rule to match. An
                            empty array matches all contexts.
                        priority:
                          type: number
                          description:
                            Evaluation order; lower numbers are evaluated first. Must be unique
                            across the flag's rules.
                        serve_variation:
                          type: string
                          description:
                            Variation served when this rule matches. Must be a key in
                            `variations`.
                        rollout:
                          type: object
                          properties:
                            percentage:
                              type: number
                              description:
                                Percentage of matching traffic (0–100) served this variation. For
                                multi-way splits, use cumulative upper bounds
                                across rules (e.g. 30, 70, 100).
                            attribute:
                              type: string
                              description:
                                Context attribute used for sticky bucketing. Defaults to
                                `targetingKey`. If absent at evaluation time,
                                bucketing is random per request.
                          required:
                            - percentage
                      required:
                        - conditions
                        - priority
                        - serve_variation
                    description:
                      Targeting rules evaluated in ascending `priority`; the first
                      matching rule wins. An empty array means the flag always
                      serves `default_variation`.
                  variations:
                    type: object
                    additionalProperties: true
                    description:
                      Map of variation name to value. All values must be the same type
                      (boolean, string, number, or JSON object/array). Each
                      serialized value must be 10KB or smaller.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  type:
                    type: string
                    enum:
                      - boolean
                      - string
                      - number
                      - json
                    description:
                      Value type of the flag's variations. Inferred from the variation
                      values on write, so it may be omitted in requests.
                  updated_at:
                    type: string
                  updated_by:
                    type: string
                required:
                  - default_variation
                  - enabled
                  - key
                  - rules
                  - variations
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipFlagNotFound:
          - status: 404
            message:
              includes: Flag not found
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
    delete:
      operationId: deleteAppFlag
      description:
        Permanently deletes a flag. Subsequent evaluations fall back to the
        caller-supplied default. Cannot be undone.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: flagKey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                required:
                  - key
      x-distilled-response-path: result
      x-distilled-errors:
        FlagshipFlagNotFound:
          - status: 404
            message:
              includes: Flag not found
        FlagshipAppNotFound:
          - status: 404
            message:
              includes: App not found
  /accounts/{account_id}/flagship/apps/{appId}/flags:
    get:
      operationId: listAppFlags
      description: Lists an app's flags ordered by key. Pass `cursor` from
        `result_info` to page forward; a null cursor indicates the last page.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Max items to return (1–200)."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_variation:
                    type: string
                    description:
                      Variation served when no rule matches or the flag is disabled. Must
                      be a key in `variations`.
                  enabled:
                    type: boolean
                    description:
                      When false, the flag bypasses all rules and always serves
                      `default_variation`.
                  key:
                    type: string
                    description:
                      Unique identifier for the flag within an app. Used in all
                      evaluation and SDK calls.
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        conditions:
                          type: array
                          items:
                            oneOf:
                              - type: object
                                properties:
                                  attribute:
                                    type: string
                                  operator:
                                    type: string
                                    enum:
                                      - equals
                                      - not_equals
                                      - greater_than
                                      - less_than
                                      - greater_than_or_equals
                                      - less_than_or_equals
                                      - contains
                                      - starts_with
                                      - ends_with
                                      - in
                                      - not_in
                                  value:
                                    description:
                                      Value to compare against the context attribute. Must be an array
                                      for `in` and `not_in`; numeric and
                                      ISO-8601 datetime strings are accepted by
                                      the ordering operators.
                                required:
                                  - attribute
                                  - operator
                                  - value
                              - type: object
                                properties:
                                  clauses:
                                    type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            attribute:
                                              type: string
                                            operator:
                                              type: string
                                              enum:
                                                - equals
                                                - not_equals
                                                - greater_than
                                                - less_than
                                                - greater_than_or_equals
                                                - less_than_or_equals
                                                - contains
                                                - starts_with
                                                - ends_with
                                                - in
                                                - not_in
                                            value:
                                              description:
                                                Value to compare against the context attribute. Must be an array
                                                for `in` and `not_in`; numeric
                                                and ISO-8601 datetime strings
                                                are accepted by the ordering
                                                operators.
                                          required:
                                            - attribute
                                            - operator
                                            - value
                                        - type: object
                                          properties:
                                            clauses:
                                              type: array
                                              items:
                                                oneOf:
                                                  - type: object
                                                    properties:
                                                      attribute:
                                                        type: string
                                                      operator:
                                                        type: string
                                                        enum:
                                                          - equals
                                                          - not_equals
                                                          - greater_than
                                                          - less_than
                                                          - greater_than_or_equals
                                                          - less_than_or_equals
                                                          - contains
                                                          - starts_with
                                                          - ends_with
                                                          - in
                                                          - not_in
                                                      value:
                                                        description:
                                                          Value to compare against the context attribute. Must be an array
                                                          for `in` and `not_in`;
                                                          numeric and ISO-8601
                                                          datetime strings are
                                                          accepted by the
                                                          ordering operators.
                                                    required:
                                                      - attribute
                                                      - operator
                                                      - value
                                                  - type: object
                                                    properties:
                                                      clauses:
                                                        type: array
                                                        items:
                                                          oneOf:
                                                            - type: object
                                                              properties:
                                                                attribute:
                                                                  type: string
                                                                operator:
                                                                  type: string
                                                                  enum:
                                                                    - equals
                                                                    - not_equals
                                                                    - greater_than
                                                                    - less_than
                                                                    - greater_than_or_equals
                                                                    - less_than_or_equals
                                                                    - contains
                                                                    - starts_with
                                                                    - ends_with
                                                                    - in
                                                                    - not_in
                                                                value:
                                                                  description:
                                                                    Value to compare against the context attribute. Must be an array
                                                                    for `in` and
                                                                    `not_in`; numeric
                                                                    and ISO-8601
                                                                    datetime strings are
                                                                    accepted by the
                                                                    ordering operators.
                                                              required:
                                                                - attribute
                                                                - operator
                                                                - value
                                                            - type: object
                                                              properties:
                                                                clauses:
                                                                  type: array
                                                                  items:
                                                                    oneOf:
                                                                      - type: object
                                                                        properties:
                                                                          attribute:
                                                                            type: string
                                                                          operator:
                                                                            type: string
                                                                            enum:
                                                                              - equals
                                                                              - not_equals
                                                                              - greater_than
                                                                              - less_than
                                                                              - greater_than_or_equals
                                                                              - less_than_or_equals
                                                                              - contains
[...]
