openapi: 3.1.0
info:
  title: Cloudflare TENANT-CUSTOM-NAMESERVERS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: tenant-custom-nameservers
paths:
  /tenants/{tenantTag}/custom_ns:
    get:
      operationId: getTenantCustomNameserver
      description: List a tenant's custom nameservers.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        tenantCustomNameserverGetResponse of client.tenantCustomNameservers.get(
        '699d98642c564d2e855e9661899b7252', )) { // ... } ```
      parameters:
        - name: tenantTag
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  dns_records:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - A
                            - AAAA
                          description: DNS record type.
                        value:
                          type: string
                          description: DNS record contents (an IPv4 or IPv6 address).
                    description: A and AAAA records associated with the nameserver.
                  ns_name:
                    type: string
                    description: The FQDN of the name server.
                  status:
                    type: string
                    enum:
                      - moved
                      - pending
                      - verified
                    description: "@deprecated Verification status of the nameserver."
                  zone_tag:
                    type: string
                    description: Identifier.
                  ns_set:
                    type: number
                    description: The number of the set that this name server belongs to.
                required:
                  - dns_records
                  - ns_name
                  - status
                  - zone_tag
      x-distilled-pagination-class: TenantCustomNameserverGetResponsesSinglePage
    post:
      operationId: createTenantCustomNameserver
      description: "Add Tenant Custom Nameserver  @example ```ts const
        tenantCustomNameserver = await client.tenantCustomNameservers.create(
        '699d98642c564d2e855e9661899b7252', { ns_name: 'ns1.example.com' }, );
        ```"
      parameters:
        - name: tenantTag
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ns_name:
                  type: string
                  description: The FQDN of the name server.
                ns_set:
                  type: number
                  description: The number of the set that this name server belongs to.
              required:
                - ns_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  dns_records:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - A
                            - AAAA
                          description: DNS record type.
                        value:
                          type: string
                          description: DNS record contents (an IPv4 or IPv6 address).
                    description: A and AAAA records associated with the nameserver.
                  ns_name:
                    type: string
                    description: The FQDN of the name server.
                  status:
                    type: string
                    enum:
                      - moved
                      - pending
                      - verified
                    description: "@deprecated Verification status of the nameserver."
                  zone_tag:
                    type: string
                    description: Identifier.
                  ns_set:
                    type: number
                    description: The number of the set that this name server belongs to.
                required:
                  - dns_records
                  - ns_name
                  - status
                  - zone_tag
      x-distilled-response-path: result
  /tenants/{tenantTag}/custom_ns/{customNSId}:
    delete:
      operationId: deleteTenantCustomNameserver
      description:
        Delete Tenant Custom Nameserver  @example ```ts // Automatically
        fetches more pages as needed. for await (const
        tenantCustomNameserverDeleteResponse of
        client.tenantCustomNameservers.delete(
        '699d98642c564d2e855e9661899b7252', 'ns1.example.com', )) { // ... } ```
      parameters:
        - name: tenantTag
          in: path
          required: true
          schema:
            type: string
        - name: customNSId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-pagination-class: TenantCustomNameserverDeleteResponsesSinglePage
