openapi: 3.1.0
info:
  title: Cloudflare WORKFLOWS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: workflows
paths:
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}:
    get:
      operationId: getInstance
      description: Retrieves logs and execution status for a specific workflow instance.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: order
          in: query
          required: false
          description:
            'Query param: Step ordering: "asc" (default, oldest first) or
            "desc" (newest first).'
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: simple
          in: query
          required: false
          description:
            "Query param: When true, omits step details and returns only
            metadata with step_count."
          schema:
            type: boolean
            enum:
              - true
              - false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  end:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    oneOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          name:
                            type: string
                        required:
                          - message
                          - name
                    nullable: true
                  output:
                    oneOf:
                      - type: string
                      - type: number
                    nullable: true
                  params: {}
                  queued:
                    type: string
                  rollback:
                    oneOf:
                      - type: object
                        properties:
                          error:
                            oneOf:
                              - type: object
                                properties:
                                  message:
                                    type: string
                                  name:
                                    type: string
                                required:
                                  - message
                                  - name
                            nullable: true
                          outcome:
                            type: string
                            enum:
                              - complete
                              - failed
                        required:
                          - error
                          - outcome
                    nullable: true
                  start:
                    oneOf:
                      - type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  step_count:
                    type: number
                  steps:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            attempts:
                              type: array
                              items:
                                type: object
                                properties:
                                  end:
                                    oneOf:
                                      - type: string
                                    nullable: true
                                  error:
                                    oneOf:
                                      - type: object
                                        properties:
                                          message:
                                            type: string
                                          name:
                                            type: string
                                        required:
                                          - message
                                          - name
                                    nullable: true
                                  start:
                                    type: string
                                  success:
                                    oneOf:
                                      - type: boolean
                                    nullable: true
                                required:
                                  - end
                                  - error
                                  - start
                                  - success
                            config:
                              type: object
                              properties:
                                retries:
                                  type: object
                                  properties:
                                    delay:
                                      oneOf:
                                        - type: string
                                        - type: number
                                      description: Specifies the delay duration.
                                    limit:
                                      type: number
                                    backoff:
                                      type: string
                                      enum:
                                        - constant
                                        - linear
                                        - exponential
                                  required:
                                    - delay
                                    - limit
                                timeout:
                                  description: Specifies the timeout duration.
                                sensitive:
                                  type: string
                                  enum:
                                    - output
                                  description:
                                    When set to 'output', step output is redacted from log and step
                                    output responses.
                              required:
                                - retries
                                - timeout
                            end:
                              oneOf:
                                - type: string
                              nullable: true
                            name:
                              type: string
                            output:
                              oneOf:
                                - type: string
                              nullable: true
                            start:
                              type: string
                            success:
                              oneOf:
                                - type: boolean
                              nullable: true
                            type:
                              type: string
                              enum:
                                - step
                                - rollback
                          required:
                            - attempts
                            - config
                            - end
                            - name
                            - output
                            - start
                            - success
                            - type
                        - type: object
                          properties:
                            end:
                              type: string
                            error:
                              oneOf:
                                - type: object
                                  properties:
                                    message:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - message
                                    - name
                              nullable: true
                            finished:
                              type: boolean
                            name:
                              type: string
                            start:
                              type: string
                            type:
                              type: string
                              enum:
                                - sleep
                          required:
                            - end
                            - error
                            - finished
                            - name
                            - start
                            - type
                        - type: object
                          properties:
                            trigger:
                              type: object
                              properties:
                                source:
                                  type: string
                              required:
                                - source
                            type:
                              type: string
                              enum:
                                - termination
                          required:
                            - trigger
                            - type
                        - type: object
                          properties:
                            end:
                              type: string
                            error:
                              oneOf:
                                - type: object
                                  properties:
                                    message:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - message
                                    - name
                              nullable: true
                            finished:
                              type: boolean
                            name:
                              type: string
                            start:
                              type: string
                            type:
                              type: string
                              enum:
                                - waitForEvent
                            output:
                              type: string
                          required:
                            - end
                            - error
                            - finished
                            - name
                            - start
                            - type
                  success:
                    oneOf:
                      - type: boolean
                    nullable: true
                  trigger:
                    type: object
                    properties:
                      source:
                        type: string
                        enum:
                          - unknown
                          - api
                          - binding
                          - event
                          - cron
                    required:
                      - source
                  versionId:
                    type: string
                  schedule:
                    type: object
                    properties:
                      cron:
                        type: string
                      scheduledTime:
                        type: number
                    required:
                      - cron
                      - scheduledTime
                required:
                  - end
                  - error
                  - output
                  - params
                  - queued
                  - rollback
                  - start
                  - status
                  - step_count
                  - steps
                  - success
                  - trigger
                  - versionId
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10400
  /accounts/{account_id}/workflows/{workflowName}/instances:
    get:
      operationId: listInstances
      description: Lists all instances of a workflow with their execution status.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          required: false
          description:
            "Query param: Opaque token for cursor-based pagination. Mutually
            exclusive with `page`."
          schema:
            type: string
        - name: date_end
          in: query
          required: false
          description: "Query param: Accepts ISO 8601 with no timezone offsets and in UTC."
          schema:
            type: string
        - name: date_start
          in: query
          required: false
          description: "Query param: Accepts ISO 8601 with no timezone offsets and in UTC."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Defines the direction for cursor-based pagination."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: status
          in: query
          required: false
          description: Query param
          schema:
            type: string
            enum:
              - queued
              - running
              - paused
              - errored
              - terminated
              - complete
              - waitingForPause
              - waiting
              - rollingBack
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  ended_on:
                    oneOf:
                      - type: string
                    nullable: true
                  modified_on:
                    type: string
                  started_on:
                    oneOf:
                      - type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                  trigger_source:
                    type: string
                    enum:
                      - unknown
                      - api
                      - binding
                      - event
                      - cron
                required:
                  - id
                  - created_on
                  - ended_on
                  - modified_on
                  - started_on
                  - status
                  - version_id
                  - workflow_id
      x-distilled-pagination-class: InstanceListResponsesV4PagePaginationArray
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        WorkflowInternalError:
          - code: 10001
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
    post:
      operationId: createInstance
      description: Creates a new instance of a workflow, starting its execution.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: Body param
                instance_retention:
                  type: object
                  properties:
                    error_retention:
                      oneOf:
                        - type: number
                        - type: string
                      description:
                        Specifies the duration in milliseconds or as a string like '5
                        minutes'.
                    success_retention:
                      oneOf:
                        - type: number
                        - type: string
                      description:
                        Specifies the duration in milliseconds or as a string like '5
                        minutes'.
                  description: Body param
                params:
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                  trigger_source:
                    type: string
                    enum:
                      - unknown
                      - api
                      - binding
                      - event
                      - cron
                required:
                  - id
                  - status
                  - version_id
                  - workflow_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InstanceAlreadyExists:
          - code: 10405
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/batch:
    post:
      operationId: bulkInstance
      description: Creates multiple workflow instances in a single batch operation.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  instance_id:
                    type: string
                  instance_retention:
                    type: object
                    properties:
                      error_retention:
                        oneOf:
                          - type: number
                          - type: string
                        description:
                          Specifies the duration in milliseconds or as a string like '5
                          minutes'.
                      success_retention:
                        oneOf:
                          - type: number
                          - type: string
                        description:
                          Specifies the duration in milliseconds or as a string like '5
                          minutes'.
                  params: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                  trigger_source:
                    type: string
                    enum:
                      - unknown
                      - api
                      - binding
                      - event
                      - cron
                required:
                  - id
                  - status
                  - version_id
                  - workflow_id
      x-distilled-pagination-class: InstanceBulkResponsesSinglePage
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InstanceAlreadyExists:
          - code: 10405
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}/step:
    get:
      operationId: stepInstance
      description:
        Retrieves the full, untruncated output for a specific step on a
        workflow instance. Returns a flat status-shaped JSON body with step
        `status` ('running' | 'waiting' | 'complete' | 'errored'), `error`
        (nullable), and `output` (the step value, or null while
        running/waiting/errored). When the step returned a ReadableStream from
        step.do, the response is served as 'application/octet-stream' with the
        raw bytes as the body instead of JSON. A `status='running'` response
        with non-null `error` indicates the step is currently retrying after a
        prior attempt failed.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: name
          in: query
          required: true
          description:
            "Query param: Exact step name from the instance logs response,
            including the generated counter suffix."
          schema:
            type: string
        - name: type
          in: query
          required: true
          description:
            "Query param: Step type to disambiguate step.do and waitForEvent
            entries that share the same name."
          schema:
            type: string
            enum:
              - step
              - waitForEvent
        - name: attempt
          in: query
          required: false
          description:
            "Query param: Specific attempt number to retrieve output or error
            for."
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    oneOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          name:
                            type: string
                        required:
                          - message
                          - name
                    nullable: true
                    description: Error details when status='errored'; null otherwise.
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  output:
                    description:
                      Full step output or waitForEvent payload without truncation.
                      Sensitive outputs are returned as '[REDACTED]'. Populated
                      when status='complete'. May be a ReadableStream when the
                      step returned one from step.do; stream outputs are served
                      as application/octet-stream rather than JSON.
                required:
                  - error
                  - status
      x-distilled-response-path: result
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}/events/{eventType}:
    post:
      operationId: createInstanceEvent
      description:
        Sends an event to a running workflow instance to trigger state
        transitions.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: eventType
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10201
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}/status:
    patch:
      operationId: patchInstanceStatus
      description:
        Changes the execution status of a workflow instance (e.g., pause,
        resume, terminate).
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - pause
                    - resume
                    - terminate
                    - restart
                  description: Body param
                rollback:
                  type: boolean
                  description: "Body param: Run rollback before terminating."
                from:
                  type: object
                  properties:
                    name:
                      type: string
                    count:
                      type: number
                    type:
                      type: string
                      enum:
                        - do
                        - sleep
                        - waitForEvent
                  required:
                    - name
                  description: "Body param: Step to restart from."
              required:
                - status
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                      - rollingBack
                  timestamp:
                    type: string
                    description: Accepts ISO 8601 with no timezone offsets and in UTC.
                required:
                  - status
                  - timestamp
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10400
        InstanceCannotTerminate:
          - code: 10401
  /accounts/{account_id}/workflows/{workflowName}/versions/{versionId}:
    get:
      operationId: getVersion
      description: Retrieves details for a specific deployed workflow version.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  has_dag:
                    type: boolean
                  language:
                    type: string
                    enum:
                      - javascript
                      - python
                    description: The programming language of the workflow implementation
                  modified_on:
                    type: string
                  workflow_id:
                    type: string
                  limits:
                    type: object
                    properties:
                      steps:
                        type: number
                required:
                  - id
                  - class_name
                  - created_on
                  - has_dag
                  - language
                  - modified_on
                  - workflow_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        VersionNotFound:
          - code: 10300
  /accounts/{account_id}/workflows/{workflowName}/versions:
    get:
      operationId: listVersions
      description: Lists all deployed versions of a workflow.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  has_dag:
                    type: boolean
                  language:
                    type: string
                    enum:
                      - javascript
                      - python
                    description: The programming language of the workflow implementation
                  modified_on:
                    type: string
                  workflow_id:
                    type: string
                  limits:
                    type: object
                    properties:
                      steps:
                        type: number
                required:
                  - id
                  - class_name
                  - created_on
                  - has_dag
                  - language
                  - modified_on
                  - workflow_id
      x-distilled-pagination-class: VersionListResponsesV4PagePaginationArray
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workflows/{workflowName}/versions/{versionId}/graph:
    get:
      operationId: graphVersion
      description: Retrieves the graph visualization of a workflow version.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  graph:
                    oneOf:
                      - type: object
                        properties:
                          version:
                            type: number
                          workflow:
                            type: object
                            properties:
                              class_name:
                                type: string
                              functions:
                                type: object
                                additionalProperties: true
                              nodes:
                                type: array
                                items:
                                  oneOf:
                                    - type: object
                                      properties:
                                        duration:
                                          oneOf:
                                            - type: number
                                            - type: string
                                          description: Duration as milliseconds (number) or human-readable string.
                                        name:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                            - step_sleep
                                        resolves:
                                          type: number
                                        starts:
                                          type: number
                                      required:
                                        - duration
                                        - name
                                        - type
                                    - type: object
                                      properties:
                                        config:
                                          type: object
                                          properties:
                                            retries:
                                              type: object
                                              properties:
                                                backoff:
                                                  type: string
                                                  enum:
                                                    - constant
                                                    - linear
                                                    - exponential
                                                  description: Backoff strategy for step retries.
                                                delay:
                                                  oneOf:
                                                    - type: number
                                                    - type: string
                                                  description: Duration as milliseconds (number) or human-readable string.
                                                limit:
                                                  type: number
                                              required:
                                                - backoff
                                                - delay
                                                - limit
                                              description: Retry policy for a step.
                                            timeout:
                                              oneOf:
                                                - type: number
                                                - type: string
                                              description: Duration as milliseconds (number) or human-readable string.
                                          required:
                                            - retries
                                            - timeout
                                          description: Configuration for a step (retries and timeout).
                                        name:
                                          type: string
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - step_do
                                        resolves:
                                          type: number
                                        starts:
                                          type: number
                                      required:
                                        - config
                                        - name
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        name:
                                          type: string
                                        options:
                                          oneOf:
                                            - type: object
                                              properties:
                                                event_type:
                                                  type: string
                                                timeout:
                                                  oneOf:
                                                    - type: number
                                                    - type: string
                                                  description: Duration as milliseconds (number) or human-readable string.
                                              required:
                                                - event_type
                                                - timeout
                                          nullable: true
                                          description: Options for a waitForEvent step.
                                        type:
                                          type: string
                                          enum:
                                            - step_wait_for_event
                                        payload:
                                          oneOf:
                                            - type: object
                                              properties:
                                                type:
                                                  type: string
                                                  enum:
                                                    - unknown
                                              required:
                                                - type
                                            - type: object
                                              properties:
                                                fields:
                                                  type: object
                                                  additionalProperties: true
                                                  description: Nested JsonShape fields (recursive structure).
                                                type:
                                                  type: string
                                                  enum:
                                                    - object
                                              required:
                                                - fields
                                                - type
                                          description: Shape descriptor for JSON payloads.
                                        resolves:
                                          type: number
                                        starts:
                                          type: number
                                      required:
                                        - name
                                        - options
                                        - type
                                    - type: object
                                      properties:
                                        name:
                                          type: string
                                        timestamp:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                            - step_sleep_until
                                        resolves:
                                          type: number
                                        starts:
                                          type: number
                                      required:
                                        - name
                                        - timestamp
                                        - type
                                    - type: object
                                      properties:
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - loop
                                      required:
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                            - all
                                            - any
                                            - all_settled
                                            - race
                                          description: Parallel execution strategy.
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - parallel
                                      required:
                                        - kind
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        catch_block:
                                          oneOf:
                                            - type: object
                                              properties:
                                                nodes:
                                                  type: array
                                                  items: {}
                                                  description: Child nodes (recursive).
                                                type:
                                                  type: string
                                                  enum:
                                                    - block
                                              required:
                                                - nodes
                                                - type
                                          nullable: true
                                        finally_block:
                                          oneOf:
                                            - type: object
                                              properties:
                                                nodes:
                                                  type: array
                                                  items: {}
                                                  description: Child nodes (recursive).
                                                type:
                                                  type: string
                                                  enum:
                                                    - block
                                              required:
                                                - nodes
                                                - type
                                          nullable: true
                                        try_block:
                                          oneOf:
                                            - type: object
                                              properties:
                                                nodes:
                                                  type: array
                                                  items: {}
                                                  description: Child nodes (recursive).
                                                type:
                                                  type: string
                                                  enum:
                                                    - block
                                              required:
                                                - nodes
                                                - type
                                          nullable: true
                                        type:
                                          type: string
                                          enum:
                                            - try
                                      required:
                                        - catch_block
                                        - finally_block
                                        - try_block
                                        - type
                                    - type: object
                                      properties:
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - block
                                      required:
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        branches:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              condition:
                                                oneOf:
                                                  - type: string
                                                nullable: true
                                              nodes:
                                                type: array
                                                items: {}
                                                description: Child nodes (recursive).
                                            required:
                                              - condition
                                              - nodes
                                        type:
                                          type: string
                                          enum:
                                            - if
                                      required:
                                        - branches
                                        - type
                                    - type: object
                                      properties:
                                        branches:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              condition:
                                                oneOf:
                                                  - type: string
                                                nullable: true
                                              nodes:
                                                type: array
                                                items: {}
                                                description: Child nodes (recursive).
                                            required:
                                              - condition
                                              - nodes
                                        discriminant:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                            - switch
                                      required:
                                        - branches
                                        - discriminant
                                        - type
                                    - type: object
                                      properties:
                                        class_name:
                                          type: string
                                        functions:
                                          type: object
                                          additionalProperties: true
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - start
                                        payload:
                                          oneOf:
                                            - type: object
                                              properties:
                                                type:
                                                  type: string
                                                  enum:
                                                    - unknown
                                              required:
                                                - type
                                            - type: object
                                              properties:
                                                fields:
                                                  type: object
                                                  additionalProperties: true
                                                  description: Nested JsonShape fields (recursive structure).
                                                type:
                                                  type: string
                                                  enum:
                                                    - object
                                              required:
                                                - fields
                                                - type
                                          description: Shape descriptor for JSON payloads.
                                      required:
                                        - class_name
                                        - functions
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        name:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                            - function_call
                                        resolves:
                                          type: number
                                        starts:
                                          type: number
                                      required:
                                        - name
                                        - type
                                    - type: object
                                      properties:
                                        name:
                                          type: string
                                        nodes:
                                          type: array
                                          items: {}
                                          description: Child nodes (recursive).
                                        type:
                                          type: string
                                          enum:
                                            - function_def
                                      required:
                                        - name
                                        - nodes
                                        - type
                                    - type: object
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                            - break
                                            - return
                                          description: Break or return from a loop.
                                        type:
                                          type: string
                                          enum:
                                            - break
                                      required:
                                        - kind
                                        - type
                              payload:
                                oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - unknown
                                    required:
                                      - type
                                  - type: object
                                    properties:
                                      fields:
                                        type: object
                                        additionalProperties: true
                                        description: Nested JsonShape fields (recursive structure).
                                      type:
                                        type: string
                                        enum:
                                          - object
                                    required:
                                      - fields
                                      - type
                                description: Shape descriptor for JSON payloads.
                            required:
                              - class_name
                              - functions
                              - nodes
                            description: A parsed workflow entrypoint with its step graph.
                        required:
                          - version
                          - workflow
                    nullable: true
                    description: Versioned workflow graph payload.
                  modified_on:
                    type: string
                  workflow_id:
                    type: string
                required:
                  - id
                  - class_name
                  - created_on
                  - graph
                  - modified_on
                  - workflow_id
      x-distilled-response-path: result
  /accounts/{account_id}/workflows/{workflowName}:
    get:
      operationId: getWorkflow
      description: Retrieves configuration and metadata for a specific workflow.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  instances:
                    type: object
                    properties:
                      complete:
                        type: number
                      errored:
                        type: number
                      paused:
                        type: number
                      queued:
                        type: number
                      rollingBack:
                        type: number
                      running:
                        type: number
                      terminated:
                        type: number
                      waiting:
                        type: number
                      waitingForPause:
                        type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                  schedules:
                    type: array
                    items:
                      type: object
                      properties:
                        cron:
                          type: string
                        next_instance:
                          type: string
                      required:
                        - cron
                        - next_instance
                required:
                  - id
                  - class_name
                  - created_on
                  - instances
                  - modified_on
                  - name
                  - script_name
                  - triggered_on
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
    put:
      operationId: putWorkflow
      description: Creates a new workflow or updates an existing workflow definition.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                class_name:
                  type: string
                  description: Body param
                script_name:
                  type: string
                  description: Body param
                limits:
                  type: object
                  properties:
                    steps:
                      type: number
                  description: Body param
                schedules:
                  type: array
                  items:
                    type: object
                    properties:
                      cron:
                        type: string
                    required:
                      - cron
                  description: Body param
              required:
                - class_name
                - script_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  is_deleted:
                    type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  terminator_running:
                    type: number
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                  version_id:
                    type: string
                required:
                  - id
                  - class_name
                  - created_on
                  - modified_on
                  - name
                  - script_name
                  - version_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowInternalError:
          - code: 10001
        InvalidRoute:
          - code: 7003
    delete:
      operationId: deleteWorkflow
      description:
        Deletes a Workflow. This only deletes the Workflow and does not
        delete or modify any Worker associated to this Workflow or bounded to
        it.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  success:
                    oneOf:
                      - type: boolean
                    nullable: true
                required:
                  - status
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workflows:
    get:
      operationId: listWorkflows
      description: Lists all workflows configured for the account.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: Allows filtering workflows` name."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  instances:
                    type: object
                    properties:
                      complete:
                        type: number
                      errored:
                        type: number
                      paused:
                        type: number
                      queued:
                        type: number
                      rollingBack:
                        type: number
                      running:
                        type: number
                      terminated:
                        type: number
                      waiting:
                        type: number
                      waitingForPause:
                        type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                  schedules:
                    type: array
                    items:
                      type: object
                      properties:
                        cron:
                          type: string
                        next_instance:
                          type: string
                      required:
                        - cron
                        - next_instance
                required:
                  - id
                  - class_name
                  - created_on
                  - instances
                  - modified_on
                  - name
                  - script_name
                  - triggered_on
      x-distilled-pagination-class: WorkflowListResponsesV4PagePaginationArray
