openapi: 3.1.0
info:
  title: Cloudflare Secrets Store API (patch overrides)
  version: 0.0.0
  description: |
    Operation overrides for endpoints whose upstream OpenAPI shape is wrong.
    Currently:
      - createStore: upstream models the request body as an array of objects
        and the response as a paginated array, but the actual API takes a
        single `{ name }` object and returns a single store object.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: secrets-store
paths:
  /accounts/{account_id}/secrets_store/stores:
    post:
      operationId: createStore
      summary: Create a Secrets Store
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
        MaximumStoresExceeded:
          - code: 1003
            message:
              includes: maximum_stores_exceeded
      parameters:
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the store
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - created
                  - modified
                  - name
                properties:
                  id:
                    type: string
                    description: Store identifier
                  created:
                    type: string
                    description: When the store was created
                  modified:
                    type: string
                    description: When the store was modified
                  name:
                    type: string
                    description: The name of the store

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: Account identifier
      schema:
        type: string
